.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-left: -10px;
  }
  .logo1{
    position: absolute;
    display: flex;
    margin-top: 255px;
    margin-left: -200px;
    width: 40%;
  }

  .cont-title{
    color: rgb(255, 255, 255);
    margin-left: 200px;
  }
 
  .info{
    margin-left: 200px;
    color: rgb(255, 255, 255);

  }
  .logoig{
    position: absolute;
    margin-top: 315px;
    margin-left: 400px ;
    width: 1.5%;
    z-index: 1;
  }
  .ig{
    position: absolute;
    margin-left: 520px;
    margin-top: 316px;
    color: rgb(255, 255, 255);
  }
  .logowpp{
    position: absolute;
    margin-left: 400px;
    margin-top: 340px;
    width: 2.8%;
  }
  .num{
    position:absolute;
    margin-top: 350px;
    margin-left: 520px;
    color: rgb(255, 255, 255);
  }
  .logolin{
    position: absolute;
    margin-left: 400px;
    margin-top: 380px;
    width: 1.7%;
  }
  .linkedin{
    position: absolute;
    margin-left: 520px;
    margin-top: 383px ;
    color: rgb(255, 255, 255);
  }
  .reserva{
    margin-left: 200px;
    color:rgb(255, 255, 255);
  }