.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .num{
    text-decoration: none;
    color: black;
    margin-top: 0px;
  }
  .ig1{
    color: black;
    text-decoration: none;
  }

  .wpp{
    display:flex;
    position: absolute;
    margin-left: -430px;
    margin-top: 0px;
    width: 18px;
  }
  .ubi{
    display:flex;
    position: absolute;
    margin-left: -430px;
    margin-top: 0px;
    width: 14px;
  }
  h5{
    margin-left: -400px ;
  }

  .insta{
    display:flex;
    position: absolute;
    margin-left: -430px;
    margin-top: 0px;
    width: 16px;
  }
  .ubi1{
    display: flex;
    margin-left: 500px;
    margin-top: -200px;
    margin-bottom: 100px;
  }
  .div{
    display: column;
    margin-top: 130px;
  }