img{
  display: flex;
  margin-top:px;
  margin-left: 5px;
  width: 190px;
}
a{
  margin-left: 18px;
}
.botones{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 50px;
}
.navbar {
  position: fixed;
  background-color: rgb(32, 32, 32);
  display: block;
  float: left; 
  margin-left: -1147px;
  width: 200px;
  height: 690px;
}

.navbar ul {
  list-style-type: none;
  margin-top: -50px;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  padding: 16px 16px 16px 16px;
  width: 200px;
  text-decoration: none;
}

.navbar li a:hover {
  color: #F9FF8A
}

h8{
  position: absolute;
  height: 12px;
  width: 35px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: rgb(243, 33, 33);
  margin-top: 5px;
  margin-left: 80px;
  font-size: 8px;
}
.pelota{
  position: absolute;
  width: 23px;
  margin-top: 15px;
}
.cancha{
  position: absolute;
  width: 25px;
  margin-top: 18px
}
.camiseta{
  position: absolute;
  width: 25px;
  margin-top: 15px;
}
.perfil{
  position:absolute;
  width: 24px;
  margin-top: 13px ;
}
.contactoimg{
  position: absolute;
  width: 25px;
  margin-top: 13px
}